@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
}

header {
  background-color: #eeeff1;
  padding: 58px 0 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 100px;
  min-height: 700px;

  nav {
    max-width: 1105px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
      display: flex;
      gap: 42px;

      @media (max-width: 760px) {
        display: none;
      }

      a {
        font-weight: 500;
        line-height: 164%;
        letter-spacing: 0.1em;
        color: #34547a;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          color: #000;
        }
      }
    }

    .burger_menu {
      display: none;

      @media (max-width: 760px) {
        display: block;
      }
    }
  }

  .block {
    max-width: 1028px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width: 948px) {
      justify-content: center;
    }

    img {
      max-width: 357px;
      width: 100%;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      max-width: 541px;
      width: 100%;

      @media (max-width: 948px) {
        align-items: center;
        text-align: center;
      }

      h2 {
        font-weight: 500;
        font-size: 48px;
        line-height: 164%;
      }

      p {
        line-height: 164%;
        color: #727272;
      }

      button {
        background-color: #34547a;
        font-family: var(--font-family);
        font-size: 16px;
        line-height: 164%;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
        width: 225px;
        height: 65px;
        cursor: pointer;
        border: none;
        transition: 0.5s;

        &:hover {
          background-color: #727272;
        }
      }
    }
  }
}

main {
  .about-me {
    max-width: 540px;
    width: 100%;
    margin: 120px auto 100px;
    text-align: center;

    h2 {
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 32px;
    }

    p {
      line-height: 164%;
      color: #727272;
    }
  }

  .numbers {
    background-color: #34547a;

    .container {
      max-width: 1091px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 49px;

      .block {
        display: flex;
        gap: 20px;

        .box {
          h2 {
            font-weight: 500;
            font-size: 21px;
            color: #fff;
          }

          p {
            line-height: 164%;
            color: #fff;
          }
        }
      }
    }
  }

  .skills {
    max-width: 1150px;
    width: 100%;
    margin: 102px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;

    .container {
      max-width: 445px;
      width: 100%;

      h2 {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 50px;
      }

      .block {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .box {
          &:hover {
            h5 {
              color: #34547a;
            }

            .folder::after {
              width: 100%;
            }
          }

          h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 164%;
            color: #727272;
            margin-bottom: 20px;
            transition: 0.5s;
          }

          .folder {
            background-color: #c4c4c4;
            width: 100%;
            height: 4px;

            &::after {
              content: '';
              display: block;
              background-color: #34547a;
              width: 70%;
              height: 4px;
              transition: 0.5s;
            }
          }
        }
      }
    }

    img {
      max-width: 555px;
      width: 100%;
    }
  }

  .video {
    background-color: #eeeff1;
    margin-bottom: 28px;

    .container {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;

      .block {
        max-width: 540px;
        width: 100%;
        text-align: center;
        margin: 0 auto 57px;

        h2 {
          font-weight: 500;
          font-size: 32px;
          margin-bottom: 50px;
        }

        p {
          line-height: 164%;
          color: #727272;
        }
      }

      iframe {
        width: 100%;
        height: 600px;
      }
    }
  }

  .projects {
    max-width: 1920px;
    margin: 28px auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .block {
      max-width: 480px;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      &:hover {
        .box {
          top: 0;
        }
      }

      .project_1 {
        max-width: 480px;
        width: 100%;
      }

      .box {
        transition: 0.5s;
        position: absolute;
        top: 480px;
        max-width: 480px;
        width: 100%;
        height: 480px;
        background-color: rgba(52, 84, 122, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .clients {
    max-width: 1110px;
    width: 100%;
    margin: 72px auto 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .form {
    background-color: #eeeff1;
    padding: 100px 0;
    width: 100%;

    .block {
      max-width: 540px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 65px;

      h2 {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 50px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 164%;
        color: #727272;
      }
    }

    form {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
        margin-bottom: 20px;

        input {
          max-width: 255px;
          width: 100%;
          height: 50px;
          font-size: 14px;
          color: #5f5d5d;
          border: none;
          padding-left: 20px;

          @media (max-width: 540px) {
            max-width: none;
          }

          &::placeholder {
            color: #5f5d5d;
          }
        }
      }

      textarea {
        resize: none;
        max-width: 540px;
        width: 100%;
        height: 175px;
        font-size: 14px;
        line-height: 164%;
        color: #5f5d5d;
        border: none;
        padding: 17px 0 0 20px;
        margin-bottom: 50px;
      }

      button {
        max-width: 190px;
        width: 100%;
        height: 55px;
        background-color: #34547a;
        font-size: 14px;
        letter-spacing: 0.15em;
        color: #fff;
        border: none;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #727272;
        }
      }
    }
  }
}

footer {
  background-color: #34547a;
  padding: 50px 0;

  .container {
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: 393px) {
      justify-content: center;
      text-align: center;
    }

    .block_1 {
      h2 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 21px;
        color: #fff;
      }

      p {
        font-size: 13px;
        line-height: 164%;
        color: #fff;
      }
    }

    .block_2 {
      display: flex;
      gap: 20px;
    }
  }
}
